<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a [routerLink]="['/home-page']" class="nav-link active" href="#">Charity Catalogue</a>
    </li>
  </ul>
</nav>
<br>
<h1 _ngcontent-clarity-c209="" style="font-size:40px">Create Charity</h1>
<h6 _ngcontent-clarity-c209="" style="font-size:20px"><i>Please provide the information below:</i></h6>
<br><br>
<form clrForm>
  <clr-input-container>
    <label style="font-size:20px">Title:</label>
    <input clrInput [(ngModel)]="title" placeholder="Charity title field"
           name="title" required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-textarea-container style="size:40px">
    <label style="font-size:20px">Description:</label>
    <textarea clrTextarea [(ngModel)]="description" placeholder="Description field"
              name="description" required></textarea>
    <clr-control-error>You must provide a description!</clr-control-error>
  </clr-textarea-container>
  <clr-input-container>
    <label style="font-size:20px">Required amount: </label>
    <input clrInput [(ngModel)]="amountRequired" placeholder="Required amount field"
           name="amountRequired" required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label style="font-size:20px">Collected amount: </label>
    <input clrInput [(ngModel)]="amountCollected" placeholder="Collected amount field"
           name="amountCollected" required/>
    <clr-control-error>This field is required!</clr-control-error>
  </clr-input-container>
  <clr-input-container>
    <label style="font-size:20px">Charity image: </label>
  </clr-input-container>
  <br>
  <div class="form-group">
    <input type="file" [ngModelOptions]="{standalone: true}" [(ngModel)]="image" (change)="getFile($event)"
           class="form-control-file">
    <button class="btn btn-sm" (click)="fileUpload()" type="button">Upload</button>
  </div>
</form><br><br>
<div class="buttonCreate">
  <button (click)="create()" type="submit" class="btn btn-icon btn-primary" style="width:150px;height:50px;"
          aria-label="done">
    <clr-icon shape="check"></clr-icon>
    Create
  </button>
</div>
<blockquote>
  “It's not how much we give but how much love we put into giving.”
  <span>Mother Theresa</span>
</blockquote>
<div id="createCharityPhoto">
  <img src="./assets/donatePhoto.png">
</div>
